/* PaymentTableStyles.css */

.payment-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .payment-table th,
  .payment-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  .payment-table th {
    background-color: #4e5db2;
  }
  
  .pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  
  .pagination button {
    background-color: #4e5db2;
    color: #fff;
    padding: 8px 12px;
    margin: 0 5px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .pagination button:hover {
    background-color: #334285;
  }
  